.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fff7f7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle{
    margin: 10%;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela';
    font-size: 15px;
    color: #ff1212;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
}
.sidebarItem > img{
    margin-top: 8px;
}
/* .sidebarList{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem{
    display: inline;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
} */
