#navbar{
    width: 100%;
    height: 80px;
    /* position: sticky; */
    top: 0;
    /* z-index: 1; */
}
.logo{
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Praise";
    color: #FF1212;
}
.navImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
} 